.container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  h3 {
    text-align: start;
    font-size: 2rem;
  }
  h4 {
    color: #ff71d7;
    font-size: 1.3rem;
  }
}
.main__container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;
  gap: 15px;
  h4 {
    color: #ff71d7;
  }
}
.media {
  display: flex;
  flex-direction: column;
  gap: 30px;
  iframe {
    max-width: 240px;
  }
}
